body {
    background-color: #DFDEDE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: Tahoma;
    margin:0px;
}

.colecao-botoes .botao {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 2px solid black;
    font-weight: bolder;
}

.botao#cor-1 {
    background-color: #D94E33
}

.botao#cor-2 {
    background-color: #2C5697
}

.botao#cor-3 {
    background-color: #ED9B33
}

.botao#cor-4 {
    background-color: #8A9B8E
}

.botao#cor-5 {
    background-color: #DDE5ED
}